<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.post">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".housemsgs"></activity>
        <activity android:name=".bizmsgs" />
        <activity android:name=".coment" />
        <activity android:name=".recent_chats" />
        <activity android:name=".recent_contact" />
        <activity android:name=".Ffriends_activity" />
        <activity android:name=".nav_Message" />
        <activity android:name=".msgs" />
        <activity android:name=".chiefpost" />
        <activity android:name=".chief" />
        <activity android:name=".housePost" />
        <activity android:name=".house" />
        <activity android:name=".jobPost" />
        <activity android:name=".job" />
        <activity android:name=".biz" />
        <activity android:name=".bizPost" />
        <activity android:name=".clickPost" />
        <activity android:name=".allpost" />
        <activity android:name=".setprofile" />
        <activity android:name=".register" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>